PUID=1000
PGID=1000
TZ=America/Campo_Grande

SERVARR_SUBNET=172.31.0.0/24
SET_IP_GLUETUN=172.31.0.2

VPN_SERVICE_PROVIDER=mullvad
VPN_TYPE=wireguard
SERVER_COUNTRIES=Brazil

# Fill these with the WireGuard values from your VPN provider.
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=

HEALTH_VPN_DURATION_INITIAL=30s
